body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

textarea {
    width: 95%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.instructions {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.instructions a {
    color: #4CAF50;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #073b9a;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
}

.copyright {
    font-size: 12px;
    color: grey;
    line-height: 1.6;
    margin: 30px 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.3em;
    }

    textarea {
        height: 150px;
        font-size: 14px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.1em;
    }

    textarea {
        height: 120px;
        font-size: 12px;
    }

    button {
        padding: 8px 12px;
        font-size: 12px;
    }
}